<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>833</integer>
  <key>copyright</key>
  <string>Copyright 2024 The Linja Suwi Project Authors (https://github.com/cstby/linja-suwi)</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://openfontlicense.org</string>
  <key>descender</key>
  <integer>-167</integer>
  <key>familyName</key>
  <string>Linja Suwi</string>
  <key>guidelines</key>
  <array/>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeHeadCreated</key>
  <string>2024/09/28 17:18:53</string>
  <key>openTypeHheaAscender</key>
  <integer>693</integer>
  <key>openTypeHheaDescender</key>
  <integer>-30</integer>
  <key>openTypeHheaLineGap</key>
  <integer>90</integer>
  <key>openTypeNameVersion</key>
  <string>Version 1.100</string>
  <key>openTypeOS2FamilyClass</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>833</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-167</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>90</integer>
  <key>openTypeOS2VendorID</key>
  <string>PfEd</string>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>693</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>30</integer>
      <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
  <key>postscriptBlueValues</key>
  <array>
    <integer>58</integer>
    <integer>58</integer>
    <integer>608</integer>
    <integer>608</integer>
  </array>
  <key>postscriptFontName</key>
  <string>LinjaSuwi-Regular</string>
  <key>postscriptFullName</key>
  <string>Linja Suwi</string>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>Linja Suwi</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>100</integer>
</dict>
</plist>
