<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>a.sp</key>
    <string>a.sp.glif</string>
    <key>akesi.sp</key>
    <string>akesi.sp.glif</string>
    <key>ala.sp</key>
    <string>ala.sp.glif</string>
    <key>alasa.sp</key>
    <string>alasa.sp.glif</string>
    <key>ale.sp</key>
    <string>ale.sp.glif</string>
    <key>anpa.sp</key>
    <string>anpa.sp.glif</string>
    <key>ante.sp</key>
    <string>ante.sp.glif</string>
    <key>anu.sp</key>
    <string>anu.sp.glif</string>
    <key>awen.sp</key>
    <string>awen.sp.glif</string>
    <key>e.sp</key>
    <string>e.sp.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>en.sp</key>
    <string>en.sp.glif</string>
    <key>esun.sp</key>
    <string>esun.sp.glif</string>
    <key>ijo.sp</key>
    <string>ijo.sp.glif</string>
    <key>ike.sp</key>
    <string>ike.sp.glif</string>
    <key>ilo.sp</key>
    <string>ilo.sp.glif</string>
    <key>insa.sp</key>
    <string>insa.sp.glif</string>
    <key>jaki.sp</key>
    <string>jaki.sp.glif</string>
    <key>jan.sp</key>
    <string>jan.sp.glif</string>
    <key>jelo.sp</key>
    <string>jelo.sp.glif</string>
    <key>jo.sp</key>
    <string>jo.sp.glif</string>
    <key>kala.sp</key>
    <string>kala.sp.glif</string>
    <key>kalama.sp</key>
    <string>kalama.sp.glif</string>
    <key>kama.sp</key>
    <string>kama.sp.glif</string>
    <key>uniEE22.sp</key>
    <string>uniE_E_22.sp.glif</string>
    <key>ken.sp</key>
    <string>ken.sp.glif</string>
    <key>kepeken.sp</key>
    <string>kepeken.sp.glif</string>
    <key>kili.sp</key>
    <string>kili.sp.glif</string>
    <key>kiwen.sp</key>
    <string>kiwen.sp.glif</string>
    <key>ko.sp</key>
    <string>ko.sp.glif</string>
    <key>kon.sp</key>
    <string>kon.sp.glif</string>
    <key>kule.sp</key>
    <string>kule.sp.glif</string>
    <key>kulupu.sp</key>
    <string>kulupu.sp.glif</string>
    <key>kute.sp</key>
    <string>kute.sp.glif</string>
    <key>lape.sp</key>
    <string>lape.sp.glif</string>
    <key>laso.sp</key>
    <string>laso.sp.glif</string>
    <key>lawa.sp</key>
    <string>lawa.sp.glif</string>
    <key>len.sp</key>
    <string>len.sp.glif</string>
    <key>lete.sp</key>
    <string>lete.sp.glif</string>
    <key>li.sp</key>
    <string>li.sp.glif</string>
    <key>lili.sp</key>
    <string>lili.sp.glif</string>
    <key>linja.sp</key>
    <string>linja.sp.glif</string>
    <key>lipu.sp</key>
    <string>lipu.sp.glif</string>
    <key>loje.sp</key>
    <string>loje.sp.glif</string>
    <key>lon.sp</key>
    <string>lon.sp.glif</string>
    <key>luka.sp</key>
    <string>luka.sp.glif</string>
    <key>lukin.sp</key>
    <string>lukin.sp.glif</string>
    <key>lupa.sp</key>
    <string>lupa.sp.glif</string>
    <key>ma.sp</key>
    <string>ma.sp.glif</string>
    <key>mama.sp</key>
    <string>mama.sp.glif</string>
    <key>mani.sp</key>
    <string>mani.sp.glif</string>
    <key>meli.sp</key>
    <string>meli.sp.glif</string>
    <key>mi.sp</key>
    <string>mi.sp.glif</string>
    <key>mije.sp</key>
    <string>mije.sp.glif</string>
    <key>moku.sp</key>
    <string>moku.sp.glif</string>
    <key>moli.sp</key>
    <string>moli.sp.glif</string>
    <key>monsi.sp</key>
    <string>monsi.sp.glif</string>
    <key>mu.sp</key>
    <string>mu.sp.glif</string>
    <key>mun.sp</key>
    <string>mun.sp.glif</string>
    <key>musi.sp</key>
    <string>musi.sp.glif</string>
    <key>mute.sp</key>
    <string>mute.sp.glif</string>
    <key>nanpa.sp</key>
    <string>nanpa.sp.glif</string>
    <key>nasa.sp</key>
    <string>nasa.sp.glif</string>
    <key>nasin.sp</key>
    <string>nasin.sp.glif</string>
    <key>nena.sp</key>
    <string>nena.sp.glif</string>
    <key>ni.sp</key>
    <string>ni.sp.glif</string>
    <key>nimi.sp</key>
    <string>nimi.sp.glif</string>
    <key>noka.sp</key>
    <string>noka.sp.glif</string>
    <key>o.sp</key>
    <string>o.sp.glif</string>
    <key>olin.sp</key>
    <string>olin.sp.glif</string>
    <key>ona.sp</key>
    <string>ona.sp.glif</string>
    <key>open.sp</key>
    <string>open.sp.glif</string>
    <key>pakala.sp</key>
    <string>pakala.sp.glif</string>
    <key>pali.sp</key>
    <string>pali.sp.glif</string>
    <key>palisa.sp</key>
    <string>palisa.sp.glif</string>
    <key>pan.sp</key>
    <string>pan.sp.glif</string>
    <key>pana.sp</key>
    <string>pana.sp.glif</string>
    <key>pi.sp</key>
    <string>pi.sp.glif</string>
    <key>pilin.sp</key>
    <string>pilin.sp.glif</string>
    <key>pimeja.sp</key>
    <string>pimeja.sp.glif</string>
    <key>pini.sp</key>
    <string>pini.sp.glif</string>
    <key>pipi.sp</key>
    <string>pipi.sp.glif</string>
    <key>poka.sp</key>
    <string>poka.sp.glif</string>
    <key>poki.sp</key>
    <string>poki.sp.glif</string>
    <key>pona.sp</key>
    <string>pona.sp.glif</string>
    <key>pu.sp</key>
    <string>pu.sp.glif</string>
    <key>sama.sp</key>
    <string>sama.sp.glif</string>
    <key>seli.sp</key>
    <string>seli.sp.glif</string>
    <key>selo.sp</key>
    <string>selo.sp.glif</string>
    <key>seme.sp</key>
    <string>seme.sp.glif</string>
    <key>sewi.sp</key>
    <string>sewi.sp.glif</string>
    <key>sijelo.sp</key>
    <string>sijelo.sp.glif</string>
    <key>sike.sp</key>
    <string>sike.sp.glif</string>
    <key>sin.sp</key>
    <string>sin.sp.glif</string>
    <key>sina.sp</key>
    <string>sina.sp.glif</string>
    <key>sinpin.sp</key>
    <string>sinpin.sp.glif</string>
    <key>sitelen.sp</key>
    <string>sitelen.sp.glif</string>
    <key>sona.sp</key>
    <string>sona.sp.glif</string>
    <key>soweli.sp</key>
    <string>soweli.sp.glif</string>
    <key>suli.sp</key>
    <string>suli.sp.glif</string>
    <key>suno.sp</key>
    <string>suno.sp.glif</string>
    <key>supa</key>
    <string>supa.glif</string>
    <key>suwi.sp</key>
    <string>suwi.sp.glif</string>
    <key>tan.sp</key>
    <string>tan.sp.glif</string>
    <key>taso.sp</key>
    <string>taso.sp.glif</string>
    <key>tawa.sp</key>
    <string>tawa.sp.glif</string>
    <key>telo.sp</key>
    <string>telo.sp.glif</string>
    <key>tenpo.sp</key>
    <string>tenpo.sp.glif</string>
    <key>toki.sp</key>
    <string>toki.sp.glif</string>
    <key>tomo.sp</key>
    <string>tomo.sp.glif</string>
    <key>tu.sp</key>
    <string>tu.sp.glif</string>
    <key>unpa.sp</key>
    <string>unpa.sp.glif</string>
    <key>uta.sp</key>
    <string>uta.sp.glif</string>
    <key>utala.sp</key>
    <string>utala.sp.glif</string>
    <key>walo.sp</key>
    <string>walo.sp.glif</string>
    <key>wan.sp</key>
    <string>wan.sp.glif</string>
    <key>waso.sp</key>
    <string>waso.sp.glif</string>
    <key>wawa.sp</key>
    <string>wawa.sp.glif</string>
    <key>weka.sp</key>
    <string>weka.sp.glif</string>
    <key>wile.sp</key>
    <string>wile.sp.glif</string>
    <key>la.sp</key>
    <string>la.sp.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>tonsi.sp</key>
    <string>tonsi.sp.glif</string>
    <key>leko.sp</key>
    <string>leko.sp.glif</string>
    <key>pake.sp</key>
    <string>pake.sp.glif</string>
    <key>kipisi.sp</key>
    <string>kipisi.sp.glif</string>
    <key>kin.sp</key>
    <string>kin.sp.glif</string>
    <key>linluwi.sp</key>
    <string>linluwi.sp.glif</string>
    <key>ki.sp</key>
    <string>ki.sp.glif</string>
    <key>isipin.sp</key>
    <string>isipin.sp.glif</string>
    <key>kan.sp</key>
    <string>kan.sp.glif</string>
    <key>monsuta.sp</key>
    <string>monsuta.sp.glif</string>
    <key>lanpan.sp</key>
    <string>lanpan.sp.glif</string>
    <key>lu.sp</key>
    <string>lu.sp.glif</string>
    <key>soko.sp</key>
    <string>soko.sp.glif</string>
    <key>oko.sp</key>
    <string>oko.sp.glif</string>
    <key>oke.sp</key>
    <string>oke.sp.glif</string>
    <key>namako.sp</key>
    <string>namako.sp.glif</string>
    <key>apeja.sp</key>
    <string>apeja.sp.glif</string>
    <key>meso.sp</key>
    <string>meso.sp.glif</string>
    <key>kijetesantakalu.sp</key>
    <string>kijetesantakalu.sp.glif</string>
    <key>usawi.sp</key>
    <string>usawi.sp.glif</string>
    <key>alu.sp</key>
    <string>alu.sp.glif</string>
    <key>waleja.sp</key>
    <string>waleja.sp.glif</string>
    <key>powe.sp</key>
    <string>powe.sp.glif</string>
    <key>misikeke.sp</key>
    <string>misikeke.sp.glif</string>
    <key>mulapisu.sp</key>
    <string>mulapisu.sp.glif</string>
    <key>jasima.sp</key>
    <string>jasima.sp.glif</string>
    <key>sutopatikuna.sp</key>
    <string>sutopatikuna.sp.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>nasinkulupu.sp</key>
    <string>nasinkulupu.sp.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>kalijopilale.sp</key>
    <string>kalijopilale.sp.glif</string>
    <key>ete.sp</key>
    <string>ete.sp.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>male</key>
    <string>male.glif</string>
    <key>female</key>
    <string>female.glif</string>
    <key>nata.sp</key>
    <string>nata.sp.glif</string>
    <key>kijosin.sp</key>
    <string>kijosin.sp.glif</string>
    <key>mamasin.sp</key>
    <string>mamasin.sp.glif</string>
    <key>yupekosi.sp</key>
    <string>yupekosi.sp.glif</string>
    <key>unu.sp</key>
    <string>unu.sp.glif</string>
    <key>cartouche.sp</key>
    <string>cartouche.sp.glif</string>
    <key>kamalawala.sp</key>
    <string>kamalawala.sp.glif</string>
    <key>waken.sp</key>
    <string>waken.sp.glif</string>
    <key>tokipona.sp</key>
    <string>tokipona.sp.glif</string>
    <key>linjasuwi.sp</key>
    <string>linjasuwi.sp.glif</string>
    <key>slape.sp</key>
    <string>slape.sp.glif</string>
    <key>majuna.sp</key>
    <string>majuna.sp.glif</string>
    <key>janpona.sp</key>
    <string>janpona.sp.glif</string>
    <key>janike.sp</key>
    <string>janike.sp.glif</string>
    <key>sitelenpona.sp</key>
    <string>sitelenpona.sp.glif</string>
    <key>sitelensitelen.sp</key>
    <string>sitelensitelen.sp.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>checkmark</key>
    <string>checkmark.glif</string>
    <key>lipusona.sp</key>
    <string>lipusona.sp.glif</string>
    <key>ku.sp</key>
    <string>ku.sp.glif</string>
    <key>Pingo.sp</key>
    <string>P_ingo.sp.glif</string>
    <key>lipamanka.sp</key>
    <string>lipamanka.sp.glif</string>
    <key>te.sp</key>
    <string>te.sp.glif</string>
    <key>to.sp</key>
    <string>to.sp.glif</string>
    <key>misa.sp</key>
    <string>misa.sp.glif</string>
    <key>lipusin.sp</key>
    <string>lipusin.sp.glif</string>
    <key>ewe.sp</key>
    <string>ewe.sp.glif</string>
    <key>polinpin.sp</key>
    <string>polinpin.sp.glif</string>
    <key>epiku.sp</key>
    <string>epiku.sp.glif</string>
    <key>n.sp</key>
    <string>n.sp.glif</string>
    <key>likujo.sp</key>
    <string>likujo.sp.glif</string>
    <key>ke.sp</key>
    <string>ke.sp.glif</string>
    <key>kiki.sp</key>
    <string>kiki.sp.glif</string>
    <key>kese.sp</key>
    <string>kese.sp.glif</string>
    <key>kuntu.sp</key>
    <string>kuntu.sp.glif</string>
    <key>peto.sp</key>
    <string>peto.sp.glif</string>
    <key>pomotolo.sp</key>
    <string>pomotolo.sp.glif</string>
    <key>taki.sp</key>
    <string>taki.sp.glif</string>
    <key>soto.sp</key>
    <string>soto.sp.glif</string>
    <key>teje.sp</key>
    <string>teje.sp.glif</string>
    <key>umesu.sp</key>
    <string>umesu.sp.glif</string>
    <key>wa.sp</key>
    <string>wa.sp.glif</string>
    <key>lipunimi.sp</key>
    <string>lipunimi.sp.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni00A0</key>
    <string>uni00A0.glif</string>
  </dict>
</plist>
